body.dark-mode
    background: #111
    color: #ccc

    .sidebar,
    .navbar,
    .sidebar .current,
    .navbar .links
        background: #111
        border-color: #272727

    h1,
    h2,
    h3,
    h4,
    h5,
    h5,
    li,
    p,
    .home .feature h2,
    .nav-links a:hover, .nav-links a.router-link-active
        color: #f1f1f1;

    .page-edit .last-updated .prefix,
    .page-edit .edit-link a,
    .sidebar-link,
    code
        color: #ccc

    tr
        border-top: #272727

    th,td
        border-color: #272727

    tr:nth-child(2n)
        background-color: #3a3a3a

    tr:nth-child(2n+1)
        background-color: #2d2d2d
        th
            background-color: #222222


    .dropdown-wrapper .dropdown-title,
    .dropdown-wrapper .mobile-dropdown-title,
    .sidebar-group.is-sub-group > .sidebar-heading
        color: #efefef !important

    .tabs-component-tab,
    .tabs-component-panels
        background-color: #272727
        border-color: #272727

    .tabs-component-tab
        &:not(.is-active)
            background-color: #181818
            color: #999

    .dropdown-wrapper .nav-dropdown
        background-color: #272727
        border-color: #3a3a3a

    .dropdown-wrapper .nav-dropdown .dropdown-item h4
        border-top-color: #111

    .search-box input
        background: #3a3a3a url(/assets/img/search.83621669.svg) .6rem .6rem no-repeat
        border-color: #111
        color: #ccc

    .custom-block.tip
        background: #272727
    .custom-block.new
        background: #645716
    .custom-block.warning
        background: #483511

    div[class*="language-"]
        background-color: #333437

    .home .feature p,
    .home .hero .description
        color: #ccc
